
<h2>
  List of products from fire base
</h2>
<ul  class = "list-group">
   <li class = "list-group-item" *ngFor = "let user of users">
      {{user.number +" "+ user.price +" "+user.name}}
    </li>
</ul>