 <userForm (addUser) = "optimisticAdd($event)" (addUserPs) = "pessimiaticAdd()"  ></userForm>
 <br>
<!--><button class="btn btn-info" [routerLink] = "['/userfire']">Fire Base</button></!-->
 <h2>
  List of products!
 </h2>
 <ul class="list-group">
   <li class = "list-group-item" *ngFor = "let key of usersKeys">
    <!--<button class="btn btn-danger" (click) = "deleteUser(key)">Delete</button></!-->
    <button class="btn btn-info" [routerLink] = "['/update-form', key]">Edit</button>
    <a [routerLink] = "['/user', key]">{{'product number '+key+' '+users[key].username +" "+ users[key].email}}</a>
   </li>
 </ul>



